---
http_interactions:
- request:
    method: get
    uri: https://www.pathofexile.com/my-account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:fb=\"http://www.facebook.com/2008/fbml\"
        class=\"js\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\">\r\n<title>Path of Exile</title>\r\n<meta property=\"fb:admins\"
        content=\"100001526026598\">\r\n<meta name=\"keywords\" content=\"path of
        exile,action rpg,online rpg game,free rpg game\">\r\n<link href=\"/favicon.ico?v=2\"
        rel=\"shortcut icon\">\r\n<link href=\"/error/error_files/screen.css?v=2\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\">\r\n</head>\r\n<body
        class=\"\">\r\n<script type=\"text/javascript\">\r\n    document.body.className
        = document.body.className.replace(/(?:^|\\s)noJS(?!\\S)/, '');\r\n</script>\r\n<div
        id=\"siteContainer\">\r\n    <div id=\"siteCentered\">\r\n        <div id=\"mainHeader\"
        class=\"en\">\r\n            <a id=\"mainLogoLink\" href=\"/\">Path of Exile</a>\r\n
        \           <ul id=\"siteNav\" class=\"en\"></ul>\r\n        </div>\r\n        <div
        id=\"mainContainer\" class=\"boxLayout\">\r\n            <div id=\"mainContainerBg\"></div>\r\n
        \           <div class=\"layoutBox1 layoutBoxFull padded rightBackground1Theme\">\r\n
        \               <h1 class=\"topBar first last layoutBoxTitle\">An Error Occurred</h1>\r\n
        \               <div class=\"layoutBoxContent\" style=\"min-height: 150px;\">\r\n
        \                   <p class=\"bold\">\r\n                        An error
        occurred processing your request. Please try again later.\r\n                    </p>\r\n
        \                   <p class=\"bold\">\r\n                        Thanks for
        your patience!\r\n                    </p>\r\n                </di[...]
