<%= form_for(@user_settings, url: update_user_settings_path(@user_settings), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
