---
http_interactions:
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-characters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"tianne_","league":"Standard","classId":2,"ascendancyClass":0,"class":"Ranger","level":22},{"name":"Maeggi","league":"Abyss","classId":0,"ascendancyClass":1,"class":"Ascendant","level":94},{"name":"Ngamason","league":"Standard","classId":1,"ascendancyClass":2,"class":"Berserker","level":90},{"name":"Lunna_","league":"Standard","classId":2,"ascendancyClass":1,"class":"Raider","level":88}]'
  recorded_at: Sun, 25 Feb 2018 12:01:53 GMT
recorded_with: VCR 4.0.0
