---
http_interactions:
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-characters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"tianne_","league":"Standard","classId":2,"ascendancyClass":0,"class":"Ranger","level":22},{"name":"Maeggi","league":"Abyss","classId":0,"ascendancyClass":1,"class":"Ascendant","level":94},{"name":"Ngamason","league":"Standard","classId":1,"ascendancyClass":2,"class":"Berserker","level":90},{"name":"Lunna_","league":"Standard","classId":2,"ascendancyClass":1,"class":"Raider","level":88}]'
  recorded_at: Mon, 26 Feb 2018 19:49:00 GMT
- request:
    method: get
    uri: https://www.pathofexile.com/my-account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html><html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:fb=\"http://www.facebook.com/2008/fbml\"
        class=\"en_US\" lang=\"en-US\" xml:lang=\"en-US\">\n<head>\n<title>View Profile
        - Path of Exile - fladsongomes</title><meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\" >\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\"
        >\n<meta property=\"fb:admins\" content=\"100001526026598\" >\n<meta property=\"og:image\"
        content=\"https://web.poecdn.com/image/favicon/ogimage.png?oriath\" >\n<meta
        property=\"og:title\" content=\"View Profile - Path of Exile - fladsongomes\"
        >\n<meta property=\"og:site_name\" content=\"Path of Exile\" >\n<meta property=\"og:type\"
        content=\"website\" >\n<meta property=\"og:keywords\" content=\"path of exile,action
        rpg,online rpg game,free rpg game\" >\n<meta property=\"og:description\" content=\"Path
        of Exile is a free online-only action RPG under development by Grinding Gear
        Games in New Zealand.\" >\n<meta name=\"keywords\" content=\"path of exile,action
        rpg,online rpg game,free rpg game\" >\n<meta name=\"description\" content=\"Path
        of Exile is a free online-only action RPG under development by Grinding Gear
        Games in New Zealand.\" >\n<meta name=\"msapplication-config\" content=\"https://web.poecdn.com/image/favicon/browserconfig.xml?oriath\"
        >\n<meta name=\"theme-color\" content=\"#ffffff\" >\n<meta property=\"og:locale\"
        content=\"en_US\" ><link href=\"//es.pathofexile.com/my-account\" hreflang=\"es-ES\"
        rel=\"alternate\" >\n<link href=\"//de.pathofexile.com/my-account\" hreflang=\"de-DE\"
        rel=\"alternate\" >\n<link href=\"//fr.pathofexile.com/my-account\" hreflang=\"fr-FR\"
        rel=\"alternate\" >\n<link href=\"//th.pathofexile.com/my-account\" hreflang=\"th-TH\"
        rel=\"alternate\" >\n<link href=\"//ru.pathofexile.com/my-account\" hreflang=\"ru-RU\"
        rel=\"alternate\" >\n<link href=\"//br.pathofexile.c[...]
[...]
