---
http_interactions:
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=0&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 1:60:0,1:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Currency\/AtlasRadiusYellow.png?scale=1&scaleIndex=3&stackSize=5&w=1&h=1&v=924e154198125996497d01d1effb28a73","league":"Abyss","id":"3af1fe59b582c27f45fb14592b7c55d6b92f958c3ff052a8ea86db30f1bf0f25","name":"","typeLine":"Journeyman
        Cartographer''s Sextant","identified":true,"properties":[{"name":"Stack Size","values":[["5\/10",0]],"displayMode":0}],"explicitMods":["Adds
        or rerolls a mod for a yellow or white map on the Atlas"],"descrText":"Right
        click this item then left click a yellow or white map on the Atlas to apply
        it.","frameType":5,"stackSize":5,"maxStackSize":5000,"category":{"currency":[]},"x":37,"y":0,"inventoryId":"Stash1"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Currency\/Breach\/BreachShardChaos.png?scale=1&scaleIndex=3&stackSize=35&w=1&h=1&v=2c18cbe5384375bbe4643cd8b83ea32d3","league":"Abyss","id":"9b33357873878208dcb8c045027ef89aa282fbeb1c02b13448e1674c2b854ff8","name":"","typeLine":"Splinter
        of Chayula","identified":true,"properties":[{"name":"Stack Size","values":[["35\/100",0]],"displayMode":0}],"descrText":"Combine
        100 splinters[...]
