---
http_interactions:
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=0&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 1:60:0,1:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Currency\/AtlasRadiusYellow.png?scale=1&scaleIndex=3&stackSize=5&w=1&h=1&v=924e154198125996497d01d1effb28a73","league":"Abyss","id":"3af1fe59b582c27f45fb14592b7c55d6b92f958c3ff052a8ea86db30f1bf0f25","name":"","typeLine":"Journeyman
        Cartographer''s Sextant","identified":true,"properties":[{"name":"Stack Size","values":[["5\/10",0]],"displayMode":0}],"explicitMods":["Adds
        or rerolls a mod for a yellow or white map on the Atlas"],"descrText":"Right
        click this item then left click a yellow or white map on the Atlas to apply
        it.","frameType":5,"stackSize":5,"maxStackSize":5000,"category":{"currency":[]},"x":37,"y":0,"inventoryId":"Stash1"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Currency\/Breach\/BreachShardChaos.png?scale=1&scaleIndex=3&stackSize=35&w=1&h=1&v=2c18cbe5384375bbe4643cd8b83ea32d3","league":"Abyss","id":"9b33357873878208dcb8c045027ef89aa282fbeb1c02b13448e1674c2b854ff8","name":"","typeLine":"Splinter
        of Chayula","identified":true,"properties":[{"name":"Stack Size","values":[["35\/100",0]],"displayMode":0}],"descrText":"Combine
        100 splinters[...]
[...]
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=2&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 4:60:0,4:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":2,"h":1,"ilvl":79,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Belts\/AbyssBelt.png?scale=1&scaleIndex=0&w=2&h=1&v=cd7c25de181e6a77812020eb6e8679713","league":"Abyss","id":"f123c564ab7f803b00fe755e9b0a4b280edd747a40cd164cb2894db5ed5fdeb0","sockets":[{"group":0,"attr":false,"sColour":"A"}],"name":"","typeLine":"Stygian
        Vise","identified":false,"implicitMods":["Has 1 Abyssal Socket"],"frameType":2,"category":{"accessories":["belt"]},"x":0,"y":2,"inventoryId":"Stash3","socketedItems":[]},{"verified":false,"w":2,"h":1,"ilvl":79,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Belts\/AbyssBelt.png?scale=1&scaleIndex=0&w=2&h=1&v=cd7c25de181e6a77812020eb6e8679713","league":"Abyss","id":"328e315f81231e8e2bf960bd3f9d352569aa47433f339bba4c92466d0fc6f246","sockets":[{"group":0,"attr":false,"sColour":"A"}],"name":"","typeLine":"Stygian
        Vise","identified":false,"implicitMods":["Has 1 Abyssal Socket"],"frameType":2,"category":{"accessories":["belt"]},"x":0,"y":1,"inventor[...]
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=3&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 5:60:0,5:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":1,"h":1,"ilvl":77,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Jewels\/RivetedEye.png?scale=1&scaleIndex=0&w=1&h=1&v=a0904494de195adde172f2d6dd329b053","league":"Abyss","id":"dbe23477b507e5b4bc0f29ea2f3265911c5b60d00048e66c3893c4bfc5c9535a","abyssJewel":true,"name":"<<set:MS>><<set:M>><<set:S>>Enthralling
        Sight","typeLine":"Hypnotic Eye Jewel","identified":true,"properties":[{"name":"Abyss","values":[],"displayMode":0}],"requirements":[{"name":"Level","values":[["60",0]],"displayMode":0}],"explicitMods":["Adds
        11 to 14 Physical Damage to Spells","Adds 6 to 43 Lightning Damage to Spells","Adds
        3 to 5 Fire Damage to Spells while wielding a Two Handed Weapon","Adds 1 to
        32 Lightning Damage to Spells while wielding a Two Handed Weapon"],"descrText":"Place
        into an Abyssal Socket on an Item or into an allocated Jewel Socket on the
        Passive Skill Tree. Right click to remove from the Socket.","frameType":2,"category":{"jewels":["abyss"]},"x":0,"y":1,"inventoryId":"Stash4"},{"verified":false,"w":2,"h":2,"ilvl":76,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Armours\/Helmets\/HelmetStrDex8.png?scale=1&scaleIndex=0&w=2&h=2&v=e041f1d30cb6e997023b09d2a822b7a63","league":"Abyss","id":"047513778f91262c5978a23e91e97633b683720fd3b580eb9872e7d948b1c133","shaper":true,"sockets":[{"group":0,"attr":"D","sColour":"G"}],"name":"","typeLine":"Fluted
        Bascinet","identified":false,"properties":[{"name":"Armour","values":[["160",0]],"displayMode":0,"type":16},{"name":"Evasion
        Rating","values":[["160",0]],"displayMode":0,"type":17}],"requirements":[{"name":"Str","values":[["64",0]],"displayMode":1},{"name":"Dex","values":[["64",0]],"displayMode":1}],"frameType":2,"category":{"armour":["helmet"]},"x":3,"y":9,"inventoryId":"Stash4","socketedItems":[]},{"verified":false,"w":1,"h":1,"ilvl":79,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Rings\/Ring6.png?scale=1&scaleIndex=0&w=1&h=1&v=23acb19022be4c89b3260db63dd1ca053","league":"Abyss","id":"d2cb20ecca2325cc2ac8e82e0cb1cd3a6643089bb62a65dbe6e148876700f9f9","name":"","typeLine":"Sapphire
        Ring","identified":false,"implicitMods":["+25% to Cold Resistance"],"frameType":2,"category":{"accessories":["ring"]},"x":6,"y"[...]
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=4&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 6:60:0,6:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":2,"h":1,"ilvl":78,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Belts\/DarknessEnthroned.png?scale=1&scaleIndex=0&w=2&h=1&v=da21305836a0b67861183f9b9c040a933","league":"Abyss","id":"9544c3b946029f1d46d35165b30e27945e40fdaf2cfa2f0a460a21069ff7b644","sockets":[{"group":0,"attr":false,"sColour":"A"},{"group":1,"attr":false,"sColour":"A"}],"name":"<<set:MS>><<set:M>><<set:S>>Darkness
        Enthroned","typeLine":"Stygian Vise","identified":true,"implicitMods":["Has
        1 Abyssal Socket"],"explicitMods":["Has 1 Abyssal Socket","50% increased Effect
        of Socketed Jewels"],"flavourText":["Hold in your hand the darkness\r","and
        never will the light blind you."],"frameType":3,"category":{"accessories":["belt"]},"x":0,"y":7,"inventoryId":"Stash5","socketedItems":[]},{"verified":false,"w":2,"h":2,"ilvl":83,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Armours\/Helmets\/AbyssHelmet.png?scale=1&scaleIndex=0&w=2&h=2&v=c7383e609399bafe70ad70944133931b3","league":"Abyss","id":"f585bdb3ccf0520d1b63c62f3d5ea3149ab684dbf52fed79af6ee4e7491117c7","sockets":[{"group":0,"attr"[...]
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=5&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 7:60:0,7:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[]}'
  recorded_at: Sun, 25 Feb 2018 13:56:29 GMT
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=6&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 8:60:0,8:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Divination\/InventoryIcon.png?scale=1&scaleIndex=0&stackSize=3&w=1&h=1&v=a8ae131b97fad3c64de0e6d9f250d7433","league":"Abyss","id":"7e32affc85bf3ac211f04e3d44b771a132a1c30dab7fae612f46ae68e2ad9d14","name":"","typeLine":"A
        Mother''s Parting Gift","identified":true,"properties":[{"name":"Stack Size","values":[["3\/6",0]],"displayMode":0}],"explicitMods":["<uniqueitem>{Fertile
        Mind}"],"flavourText":["Nature was her domain,\r","Love was her song,\r","Family
        was her devotion,\r","Knowledge was her gift."],"frameType":6,"stackSize":3,"maxStackSize":6,"artFilename":"AMothersPartingGift","category":{"cards":[]},"x":110,"y":0,"inventoryId":"Stash7"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Divination\/InventoryIcon.png?scale=1&scaleIndex=0&stackSize=7&w=1&h=1&v=a8ae131b97fad3c64de0e6d9f250d7433","league":"Abyss","id":"fcdbb48bf097848e86564859af711555c1b2a97151b4d1c987892e514fa155d3","name":"","typeLine":"The
        Catalyst","identified":true,"properties":[{"name":"Stack Size","values":[["7\/3",0]],"displayMode":0}],"explicitMods":["<currencyitem>{Vaal
        Orb}"],"flavourText":["Simple actions can lead the world to an early grave."],"frameType":6,"stackSize":7,"maxStackSize":3,"artFilename":"TheCatalyst","category":{"cards":[]},"x":67,"y":0,"inventoryId":"Stash7"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Divination\/InventoryIcon.png?scale=1&scaleIndex=0&stackSize=3&w=1&h=1&v=a8ae131b97fad3c64de0e6d9f250d7433","league":"Abyss","id":"05622f58d7eee9a81663135075471b73b878fe3e42027006f1eff1496f9b8019","name":"","typeLine":"The
        Tower","identified":true,"properties":[{"name":"Stack Size","values":[["3\/6",0]],"displayMode":0}],"explicitMods":["<uniqueitem>{Staff}"],"flavourText":["A
        tower built of the strongest stone is not eternal; a towering intellect is
        not enlightened."],"frameType":6,"stackSize":3,"maxStackSize":6,"artFilename":"TheTower","category":{"cards":[]},"x":86,"y":0,"inventoryId":"Stash7"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Divination\/InventoryIcon.png?scale=1&scaleIndex=0&stackSize=1&w=1&h=1&v=a8ae131b97fad3c64de0e6d9f250d7433","league":"Abyss","id":"3ea1491a97d81675028d6a2c0e4e264f4e2a76b2f398a062f0791b4b8e41e1f7","name":"","typeLine":"Lost
        Worlds","identified":true,"properties":[{"name":"Stack Size","values":[["1\/8",0]],"displayMode":0}],"explicitMods":["<whiteitem>{Map}\r\n<default>{Map
        Tier:} <normal>{15}"],"flavourText":["<size:27>{\"There are worlds that lie
        beyond the edge of my page, the edge of my understanding. Worlds of wonder.
        Worlds of terror.\"\r","Aramil - Cartographer to Emperor Chitus}"],"frameType":6,"stackSize":1,"maxStackSize":8,"artFilename":"LostWorlds","category":{"cards":[]},"x":108,"y":0,"inventoryId":"Stash7"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Divination\/InventoryIcon.png?scale=1&scaleIndex=0&stackSize=1&w=1&h=1&v=a8ae131b97f[...]
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=7&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 9:60:0,9:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":1,"h":1,"ilvl":49,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Amulets\/Amulet4.png?scale=1&scaleIndex=0&w=1&h=1&v=cc3ec167ca9ea10dfa05b2d55b5dcf623","league":"Abyss","id":"573a58bd46a2e298f172e04e35ddaf9a27fe8016388e47c37bc772781d338819","name":"<<set:MS>><<set:M>><<set:S>>Dragon
        Torc","typeLine":"Jade Amulet","identified":true,"note":"~price 20 chaos","requirements":[{"name":"Level","values":[["36",0]],"displayMode":0}],"implicitMods":["+20
        to Dexterity"],"explicitMods":["5% increased Cast Speed","+25% to Global Critical
        Strike Multiplier","+21 to maximum Energy Shield","+70 to maximum Life","+45
        to maximum Mana","+9% to all Elemental Resistances"],"frameType":2,"category":{"accessories":["amulet"]},"x":1,"y":1,"inventoryId":"Stash8"},{"verified":false,"w":1,"h":1,"ilvl":63,"icon":"https:\/\/web.poecd[...]
[...]
- request:
    method: get
    uri: https://www.pathofexile.com/character-window/get-stash-items?accountName=valid_account_name&league=valid_league&tabIndex=15&tabs=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Policy:
      - backend-item-request-limit
      X-Rate-Limit-Rules:
      - Account
      X-Rate-Limit-Account:
      - 45:60:60,240:240:900
      X-Rate-Limit-Account-State:
      - 17:60:0,17:240:0
    body:
      encoding: ASCII-8BIT
      string: '{"numTabs":16,"items":[{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Gems\/Support\/ClusterTrap.png?scale=1&scaleIndex=0&w=1&h=1&v=bdc843aa90aabe0ab98265455c3e82e63","support":true,"league":"Abyss","id":"1671fd879c4bf991ecddb8ad8ff450af9c52b02a3b2b5f4ea75f6afb28679639","name":"","typeLine":"Cluster
        Traps Support","identified":true,"properties":[{"name":"Trap, Support","values":[],"displayMode":0},{"name":"Level","values":[["1",0]],"displayMode":0,"type":5},{"name":"Mana
        Multiplier","values":[["150%",0]],"displayMode":0},{"name":"Quality","values":[["+7%",1]],"displayMode":0,"type":6}],"additionalProperties":[{"name":"Experience","values":[["1\/388734",0]],"displayMode":2,"progress":2.5724532406457e-6}],"requirements":[{"name":"Level","values":[["38",0]],"displayMode":0},{"name":"Dex","values":[["63",0]],"displayMode":1}],"secDescrText":"Supports
        traps skills, making them throw extra traps randomly around the targeted location.","explicitMods":["Supported
        Skills throw 3 additional Traps","Supported Skills can have up to 5 additional
        Traps placed at a time","Supported Skills deal 55% less Damage","Supported
        Skills deal 3% increased Trap Damage"],"descrText":"This is a Support Gem.
        It does not grant a bonus to your character, but to skills in sockets connected
        to it. Place into an item socket connected to a socket containing the Active
        Skill Gem you wish to augment. Right click to remove from a socket.","frameType":4,"category":{"gems":[]},"x":4,"y":5,"inventoryId":"Stash16"},{"verified":false,"w":1,"h":1,"ilvl":0,"icon":"https:\/\/web.poecdn.com\/image\/Art\/2DItems\/Gems\/Support\/ControlledDestructionGem.png?scale=1&scaleIndex=0&w=1&h=1&v=4010026af7da0090faa9af99bfbd49523","support":true,"league":"Abyss","id":"3a2657212adb1e69817ec368d949f5499d8b39ea29f01624c92bf3f4d29b1ac5","name":"","typeLine":"Controlled
        Destruction Support","identified":true,"properties":[{"name":"Spell, Support","values":[],"displayMode":0},{"n[...]
